* {
  box-sizing: border-box;
}
body {
  background-color: #fff; 
  padding: 20px;
  /* подключение шрифта от google fonts */
  font-family: "Inter", sans-serif;
}
.page-wrapper {
  overflow: hidden;
  max-width: 390px;
  background-color: #C8C8C8;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px rgba(64, 64, 64, 0.25);
}
.header {
  padding: 11px 45px 118px;
  border-radius: 10px 10px 90px 90px;
  background: url('../img/header-bg.png'), lightgray 50% / cover ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}
.hello {
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hello-text {
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.user {
  border-radius: 20px;
  background: #D9D9D9;
  margin-top: -59px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.user-avatar {
  margin-top: -42px;
  border-radius: 68px;
  border: 3px solid #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  width: 68px;
  height: 68px;
}
.container {
  max-width: 300px;
  background-color: #fff;
  margin: auto;
  border-radius: 20px;
}
.user-text {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.user-desc {
  color: #534949;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 21px;
}